<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>CMS Performance</title>
</head>

<body>
    <header>
        <nav>
            <img class="uoftlogo" src="/static/images/CMSlogo.png" alt="Logo">
            <h1>Content</h1>
            <h2>{{g.courseid}}</h2>
            <ul>
                <li><a href="/dashboard"><b>Courses</b></a> </li>
                <li><a href="/feedback"><b>Feedback</b></a> </li>
                <li><a href="/logout"><b>Logout</b></a> </li>
                <div class="bubble1"></div>
            </ul>
        </nav>
    </header>
    <div id="sidebar">
        <div class="toggle-btn" onclick="show()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu-items">
            <div class="dashb">{{g.name}}</div>
            <ul>
                <li><a href="/courses/{{g.courseid}}">Home</a></li>
                <li><a href="https://piazza.com/class/kk052lckppx73x#">Discussion Board</a></li>
                <li><a href="/courses/{{g.courseid}}/lectures">Course Content</a></li>
                <li><a href="/courses/{{g.courseid}}/grades">Grades</a></li>
                <li><a href="/courses/{{g.courseid}}/assignments">Assignments</a></li>
            </ul>
        </div>
    </div>
    <div class="mainwrap">
        <section class="lecturecontent">
            {%for as in g.assignments%}
            <div class="week">
                <h3 class="item1">{{as['assignment_name']}}</h3>
                <h4 class="item1">Total Marks: {{as['total_marks']}}</h4>
                <h4 class="item1">Course Percentage: {{as['course_percentage']}}</h4>
                <h4 class="item1">Due Date: {{as['due_date']}}</h4>
                <a href="/courses/{{g.courseid}}/regrade" class="btn">Regrade</a>
            </div>
            {%endfor%}
        </section>
    </div>

</body>
<script src="/static/js/main.js"></script>

</html>