<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>CMS courses</title>
</head>

<body>
    <header>
        <nav>
            <img class="uoftlogo" src="/static/images/CMSlogo1.png" alt="Logo">
            <h1>Dashboard</h1>
            <h2>{{g.courseid}}</h2>
            <ul>
                <li><a href="/dashboard"><b>Courses</b></a> </li>
                <li><a href="/feedback"><b>Feedback</b></a> </li>
                <li><a href="/logout"><b>Logout</b></a> </li>
            </ul>
        </nav>
    </header>

    <div class="mainwrapcourses">
        <section class="profile">
            <h4 class="profiletype">{{g.privilege}}</h4>
            <img src="/static/images/user.png" alt="userpng" class="profilepic">
            <h4 class="profilename">{{g.name}}</h4>
        </section>
        {% for c in g.courses %}
        <section class="course" onclick="location.href='/courses/{{c}}';">
            <h2>{{ c }}</h2>
            <p>Computer Science</p>
        </section>
        {% endfor %}

    </div>
</body>
<script src="/static/js/main.js"></script>

</html>