<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/feedback.css">
    <meta charset="utf-8">
    <title>CMS - Leave Feedback</title>
</head>

<body>
    <div class="content_box">
        <p class="feedback_title">Anonymous Feedback Form</p>
        <div class="feedback_form">
            <form action="{{url_for('feedback')}}" method="post">
                <ul>
                    {%for prof in g.professors%}
                    <li>
                        <input type="radio" id="{{prof['userid']}}" name="userid" value="{{prof['userid']}}" checked="checked">
                        <label for="{{prof['userid']}}">{{prof['name']}}</label>
                    </li>
                    {%endfor%}

                </ul><br>
                <label id="label1" for="q1">What do you like about the instructor teaching?</label><br>
                <input id="q1" type="text" placeholder="Please Type Here..." name="q1"><br>
                <label for="q2">What do you recommend the instructor to do to improve their teaching?</label><br>
                <input id="q2" type="text" placeholder="Please Type Here..." name="q2"><br>
                <label for="q3">What do you like about the labs?</label><br>
                <input id="q3" type="text" placeholder="Please Type Here..." name="q3"><br>
                <label for="q4">What do you recommend the lab instructors to do to improve their lab teaching?</label><br>
                <input id="q4" type="text" placeholder="Please Type Here..." name="q4"><br>
                <div class="feedback_button"><button type="submit">Submit Feedback</button></div>
            </form>
            {% if g.feedbacksubmitted %}
            <div class="green_box">
                Form Successfully Submitted
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>