<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/maintheme.css')}}">
    <meta charset="utf-8">
    <title>CMS Login</title>
</head>

<body>
    <div class="login_box">
        <div class="login_box_logo"></div>
        <div class="textarea">
            <h2>Welcome to Kuercus</h2>
            <h3>
                We hope you have an excellent time on our website.
            </h3>
            <br>
            <h3>
                Copyright of PKM Limited 2021
            </h3>
        </div>
    </div>
</body>

</html>