<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>CMS Performance</title>
</head>

<body>
    <header>
        <nav>
            <img class="uoftlogo" src="/static/images/CMSlogo.png" alt="Logo">
            <h1>Lectures</h1>
            <h2>{{g.courseid}}</h2>
            <ul>
                <li><a href="/dashboard"><b>Courses</b></a> </li>
                <li><a href="/feedback"><b>Feedback</b></a> </li>
                <li><a href="/logout"><b>Logout</b></a> </li>
                <div class="bubble1"></div>
            </ul>
        </nav>
    </header>
    <div id="sidebar">
        <div class="toggle-btn" onclick="show()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu-items">
            <div class="dashb">{{g.name}}</div>
            <ul>
                <li><a href="/courses/{{g.courseid}}">Home</a></li>
                <li><a href="https://piazza.com/class/kk052lckppx73x#">Discussion Board</a></li>
                <li><a href="/courses/{{g.courseid}}/lectures">Course Content</a></li>
                <li><a href="/courses/{{g.courseid}}/grades">Grades</a></li>
                <li><a href="/courses/{{g.courseid}}/assignments">Assignments</a></li>
            </ul>
        </div>
    </div>
    <div class="mainwrap">
        <div class="midtitle">
            <h2>Lecture Content</h2>
            <hr class="midline">
            <br><br>
        </div>        
        <section class="lecturecontent">
            {%for lec in g.lectures %}
            <div class="week">
                <h4 class="item1">{{lec['lec_title']}}</h4>
                <a href="/courses/{{g.courseid}}/lectures/{{lec['lec_order']}}" class="btn">Content</a>
            </div>
            {%endfor%}
        </section>
    </div>

    <div class="midtitle">
        <h2>Tutorial Content</h2>
        <hr class="midline">
    </div>

   <section class="tutorialcontent">
        <div class="week">
            <h3 id="w1" class="tuttitle">Week 1: No Tutorial</h3>
        </div>
        <div class="week">
            <h3 id="w2" class="tuttitle">Week 2: Worst Case Complexity </h3>
            <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="btn">Handout</a>
            <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2_soln.pdf" class="btn">Solution</a>
        </div>
        <div class="week">
            <h3 id="w3" class="tuttitle">Week 3: AVL Trees Insert/Delete</h3>
            <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/tutorial-03.pdf" class="btn">Handout </a>
            <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/tutorial-03_soln.pdf" class="btn">Solution</a>
        </div>
        <div class="week">
            <h3 id="w4" class="tuttitle">Week 4: Practice Term test format </h3>
        </div>
        <div class="week">
            <h3 id="w5" class="tuttitle">Week 5: Graph Search Algorithms </h3>
            <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w5/graph_reading.pdf" class="btn">Graph Definitions</a>
            <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/BFS_tut5.pdf" class="btn">BFS handout</a>
            <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/tutorial-05.pdf" class="btn">BFS Practice</a>
        </div>
        <div class="week">
            <h3 id="w6" class="tuttitle">Week 6: MSTs and Prims Algorithm </h3>
            <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/tutorial-06.pdf" class="btn">Handout </a>
        </div>
        <div class="week">
            <h3 id="w7" class="tuttitle">Week 7: Dijkstra</h3>
            <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/tutorial7.pdf" class="btn">Handout</a>
        </div>
        <div class="week">
            <h3 id="w8" class="tuttitle">Week 8: Amortized Analysis - Binary Counter</h3>
            <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/tutorial-08_2021.pdf" class="btn">Handout</a>
        </div>
        <div class="week">
            <h3 id="w9" class="tuttitle">Week 9: Probability</h3>
            <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/tutorial9.pdf" class="btn">Handout</a>
        </div>
   </section>





</body>
<script src="/static/js/main.js"></script>

</html>